<!doctype html>

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2 id="title{{booking.roomId}}">Réservation pour la chambre {{booking.roomId}}</h2>

        <div class="col-md-12">
            <p>Cher/Chère Monsieur/Madame {{booking.name}}</p>
            <p>Nous avons bien pris en compte votre demande de réservation pour la chambre {{booking.roomId}}</p>
            <p>Vous trouverez les informations pour effectuer le paiement dans un message envoyé à votre adresse mail {{booking.mail}}</p>
            <p>Nous vous remercions de votre confiance et espérons pouvoir bientôt vous accueillir à La Lande</p>
            <p>Très cordialement, Camilla et Guy Olivier de Saint Albin</p>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>